*{
    margin: 0;
    font-family: arial;
    border: border-box;
}

/* Navbar */
.navbar{
    height: 8vh;
    width: 98.vw;
    background-color:#97c5f6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.navlogo{
    height: 50px;
    width: 170px;
    
}
.logo{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTErTZ06Msgr__7oQ9uGbLqlBKaS6uQ59ecLR8ye3-_aw&s");
    background-color: #ee48ac;
    height: 90px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: larger;
    font-style:italic;
    font-weight: 1000;
    margin-top: 6%;
}

.border{
    border:1px solid transparent;
}

.border:hover{
    background-color: rgb(57, 195, 234);
}

/* Box2 */
 .add-f{
    color:white;
    font-size: 0.89rem;
    margin-left: 25px; 
    margin-top: 9px;
}

.add-se{
    font-size: 1rem;
    margin-left:5px ;
    margin-top: 2px;
}

.add-icon{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.nav-search{
    display: flex;
    background-color:white;
    align-items: center;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.search-select{
    background-color:#eec2e7a7 ;
    width: 50px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
    color: rgb(26, 7, 7);
    opacity: 0.9;
}

.search-select:hover{
    opacity:1;
    color: #f59ae6e8;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: hidden;
    margin-left: 5px;
} 

.search-icon{
    width: 50px;
    height: 40px;
    margin-left: 8px;
    color: rgb(16, 1, 1);
    background-color: #eec2e7a7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.2rem;
}


.search-icon:hover{
    background-color: #f0a4e4a7;
}

.search-icon a:hover{
    color: #f0a4e4a7;
}

.nav-search:hover{
    border: 3px solid #2f93ea;
} 

/* box4 */
 span{
font-size: 0.7 rem;
}

.nav-se{
    font-size: 0.85rem;
    font-weight:700 ;
}

.nav-se select{
    background-color: #97c5f6; 
    color: #ddefee; 
    border:none;
}

/* box6 */
.nav-cart i{
font-size: 30px ;
}
.nav-cart{
    font-size:0.85rem;
    font-weight: 700;
} 

.nav-language{
    display: flex;
    align-items: center;
    justify-self: center;
}
.nav-language select {
    background-color: #97c5f6;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border: none;
    
}

.pannel{
    height: 40px;
    width: 100%;
    background-color: rgb(244, 167, 165);
    display: flex;
    justify-content: space-evenly;
    color:white;
}

/* Pannel */
.pannel-ops a{
    display: inline;
    margin-right:5%;
    text-decoration: none;
    color: white;
    margin-top: 0.8%;
}
.pannel-ops a:hover{
    text-decoration: underline;
    font-size: larger;
}
.pannel-ops{
     width:80%;
    font-size: 0.95rem;
    text-decoration: none;
    color: white;
    display: flex;
     
}

.pannel-all{
    margin-right:3% ;
    margin-left: 0%;
    margin-top: 0.3%;
    width: 40px;
    padding-top: 7px;
    
}
.pannel-all:hover{
    
    border: 2px solid white;
}


.pannel-all a{
    color: white;
    text-decoration: none;
    
}


/* Hero-Section */
.hero-section{
    height: 600px;
    width: 100%;
   background-image: url("https://static.vecteezy.com/system/resources/previews/003/631/225/non_2x/womens-day-sale-banner-with-fifty-percent-discount-offer-for-online-shopping-promotion-magazine-website-mobile-app-plant-package-price-tag-gift-box-gold-ribbon-on-isolated-pink-background-vector.jpg"); 
    background-position: right;
    filter: brightness(109%);
    filter: contrast(105%);
    background-size:cover;
    image-resolution: 150%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-mssg{
    background-color: rgb(246, 152, 226);
    color: rgb(14, 119, 164);
    height: 40px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
}

.hero-mssg:hover {
    font-size: larger;
    transition: all  1s;
    color: #ee48ac;
}



/* Shop-Section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    row-gap: 0%;
    justify-content: space-evenly;
    background-color: rgba(255, 192, 203, 0.786);  
}

.box{
height: 400px;
width: 23%;
background-color: white;
padding: 22px 0px 15px;
margin: 7px;
}

.box2-img{
    background-image: url("https://images.pexels.com/photos/3345882/pexels-photo-3345882.jpeg?auto=compress&cs=tinysrgb&w=600");
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem; 
    object-fit: cover;
    transition: all ease 1s;
}

.box2-img:hover{
    scale: 1.1;
}


.box2 h2{
    font-size: 21px;
   margin-left: 1rem;
   
}

.box2 p a{
    margin-left: 1rem;
    color: #6596cc;
    font-size: 14px;
    margin-top: 25px;
    text-decoration: none;
}

.box2 p a:hover{
   
    color: rgb(240, 89, 185);
    font-style: italic;
    font-size: medium;
}


.box{
    overflow: hidden;
}
.box1-img{
    background-image: url("https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&w=600");
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem; 
    object-fit: cover;
    transition: all ease 1s;
}

.box1-img:hover{
    scale: 1.1;
}


.box1 h2{
    font-size: 21px;
   margin-left: 1rem;
   
}

.box1 p a{
    margin-left: 1rem;
    color: #6596cc;
    font-size: 14px;
    margin-top: 25px;
    text-decoration: none;
}

.box1 p a:hover{
   
    color: rgb(240, 89, 185);
    font-style: italic;
    font-size: medium;
}


.box3-img{
    background-image: url("https://images.pexels.com/photos/3812433/pexels-photo-3812433.jpeg?auto=compress&cs=tinysrgb&w=600");
    height: 300px;
    background-size: cover;  
    margin-top: 1rem;
    margin-bottom: 1rem;
     margin-left: 1rem;
    margin-right: 1rem; 
    object-fit: cover;
    transition: all ease 1s;
}

.box3-img:hover{
    scale: 1.1;
}

.box3 h2{
    font-size: 21px;
   margin-left: 1rem;
   
}

.box3 p a{
    margin-left: 1rem;
    color: #6596cc;
    font-size: 14px;
    margin-top: 25px;
    text-decoration: none;
}

.box3 p a:hover{
   
    color: rgb(240, 89, 185);
    font-style: italic;
    font-size: medium;
}

.box4-img{
    background-image: url("https://images.pexels.com/photos/3018845/pexels-photo-3018845.jpeg?auto=compress&cs=tinysrgb&w=600");
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
     margin-left: 1rem;
    margin-right: 1rem; 
    object-fit: cover;
    transition: all ease 1s;
}



.box4-img:hover{
scale: 1.1;
}

.box4 h2{
    font-size: 21px;
   margin-left: 1rem;
   
}

.box4 p a{
    margin-left: 1rem;
    color: #6596cc;
    font-size: 14px;
    margin-top: 25px;
    text-decoration: none;
}

.box4 p a:hover{
   
    color: rgb(240, 89, 185);
    font-style: italic;
    font-size: medium;
}

.box5-img{
    background-image: url("https://images.unsplash.com/photo-1603974372039-adc49044b6bd?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8amV3ZWxsZXJ5fGVufDB8fDB8fHww");
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
     margin-left: 1rem;
    margin-right: 1rem; 
    object-fit: cover;
    transition: all ease 1s;
}

.box5-img:hover{
scale: 1.1;
}

.box5 h2{
    font-size: 21px;
   margin-left: 1rem;
   
}

.box5 p a{
    margin-left: 1rem;
    color: #6596cc;
    font-size: 14px;
    margin-top: 25px;
    text-decoration: none;
}

.box5 p a:hover{
   
    color: rgb(240, 89, 185);
    font-style: italic;
    font-size: medium;
}

.box6-img{
    background-image: url("https://images.unsplash.com/photo-1617806265182-7b3f847f0b75?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGhvbWUlMjBkZWNvcnxlbnwwfHwwfHx8MA%3D%3D");
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
     margin-left: 1rem;
    margin-right: 1rem; 
    object-fit: cover;
    transition: all ease 1s;
}

.box6-img:hover{
scale: 1.1;
}


.box6 h2{
    font-size: 21px;
   margin-left: 1rem;
   
}

.box6 p a{
    margin-left: 1rem;
    color: #6596cc;
    font-size: 14px;
    margin-top: 25px;
    text-decoration: none;
}

.box6 p a:hover{
   
    color: rgb(240, 89, 185);
    font-style: italic;
    font-size: medium;
}

.box7-img{
    background-image: url("https://images.unsplash.com/photo-1514237487632-b60bc844a47d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGtpdGNoZW53YXJlfGVufDB8fDB8fHww");
    height: 300px;
    background-size: contain;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem; 
    object-fit: cover;
    transition: all ease 1s;
}
.box7-img:hover{
    scale: 1.1;
}

.box7 h2{
    font-size: 21px;
   margin-left: 1rem;
   
}

.box7 p a{
    margin-left: 1rem;
    color: #6596cc;
    font-size: 14px;
    margin-top: 25px;
    text-decoration: none;
}

.box7 p a:hover{
   
    color: rgb(240, 89, 185);
    font-style: italic;
    font-size: medium;
}

.box8-img{
    background-image: url("https://images.unsplash.com/photo-1515488042361-ee00e0ddd4e4?q=80&w=2075&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    object-fit: cover;
    transition: all ease 1s; 
}

.box8-img:hover{
    scale: 1.1;
}

.box8 h2{
    font-size: 21px;
   margin-left: 1rem;
   
}

.box8 p a{
    margin-left: 1rem;
    color: #6596cc;
    font-size: 14px;
    margin-top: 25px;
    text-decoration: none;
}

.box8 p a:hover{
   
    color: rgb(240, 89, 185);
    font-style: italic;
    font-size: medium;
}


/* Footer */

.footer{
    margin-top: 25px;
}
.foot-panell1{
background-color: rgb(244, 167, 165);
height: 50px;
display: flex;
justify-content: center;
align-items: center;
font-size: 0.85rem;
border-top: 5px solid white;
}

.foot-panell1 a{
color: white;
text-decoration: none;
font-size: medium;
}

.foot-panell2{
    background-color: #6596cc;
    color: rgb(255, 255, 255);
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}
.foot-panell2 ul p{
    font-size: 1.2rem;
}

.foot-panell2 ul p:hover{
    font-style: oblique;
}

.foot-panell2 ul a{
     display: block;
     color: #f0e6e6;
     text-decoration: none;
     margin-top: 15px;
     font-size: 0.95rem;
} 

.foot-panell2 ul a:hover{
    text-decoration: underline;
    font-size: 1rem;
    transition: all 1s;
}

.foot-panell4{
    background-color: rgba(230, 130, 126, 0.958);
    color: white;
    height: 60px;
    border-top: 1px solid white;
}
.pages{
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.pages a{
    margin-top: 0.5%;
    color: white;
    text-decoration: none;
}

.pages a:hover{
    text-decoration: underline;
    font-size: 1rem;
}


